<!-- translation_app/templates/file_list.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uploaded Files</title>
</head>

<body>
    <h1>Uploaded Files</h1>
    <ul>
        {% for file in files %}
        <li>{{ file.file.name }} - {{ file.created_at }}
            <a href="{% url 'file-download' file.id %}" download>
                <button>Download</button>
            </a>
        </li>
        {% endfor %}
    </ul>
    <a href="{% url 'file-list-create' %}">Upload a File</a>
</body>

</html>